<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title | Admin Panel | Shopping Cart</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/admin.min.css" />
    <link rel="stylesheet" href="~/Content/fontawesome.min.css" />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            @Html.ActionLink("Shopping Cart", "List", "Product", null, new { @class = "navbar-brand" })

            <div class="navbar-right">
                @{
                    var username = HttpContext.Current.User.Identity.Name;

                    if (username != "")
                    {
                        @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "btn btn-secondary" })
                    }
                }
            </div>
        </div>
    </nav>

    <section id="primary" class="container-fluid pt-3 pb-3">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-primary" role="alert">@TempData["message"]</div>
        }

        @RenderBody()
    </section>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/admin.min.js"></script>
</body>
</html>


