@model ShoppingCart.WebUI.Models.CartIndexViewModel

@{ ViewBag.Title = "Your Cart"; }

<h2>Your Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Items)
        {
            <tr>
                <td class="text-left">@item.Quantity</td>
                <td class="text-left">@item.Product.Name</td>
                <td class="text-right">@item.Product.Price.ToString("c")</td>
                <td class="text-right">@((item.Quantity * item.Product.Price).ToString("c"))</td>
                <td class="text-right">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("productId", item.Product.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <button type="submit" name="btnAction" value="remove" class="btn">&times;</button>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.TotalPrice().ToString("c")</td>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a href="@Model.ReturnUrl" class="btn btn-primary">Continue Shopping</a>
    @Html.ActionLink("Checkout Now", "Checkout", null, new { @class = "btn btn-primary" })
</div>
